---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
UseTab: Never
TabWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AccessModifierOffset: -4 
Cpp11BracedListStyle: false